@using AgenticRpg.DiceRoller

@inherits LayoutComponentBase
<div class="page">
   
    <main>
        
        <article>
            <div class="auth-view"><Login></Login></div>
            @Body
        </article>
    </main>
</div>
<RollDiceWindowManager></RollDiceWindowManager>