

<div class="button-container">
    <button class="rpg-button" @onclick=RollAll>Roll All</button>
</div>

<div class="die-grid">
    @for (var i = 0; i < NumberOfRolls; i++)
    {
        <DieRoller @ref="Component" DieType="@DieType" CurrentValueChanged="HandleValueUpdate" IsManual="IsManual" IsStandalone="IsStandalone" />
    }
</div>
<h6 class="text-center"><string>Total:</string> @_rolls.Sum()</h6>