@page "/"
@using AgenticRpg.DiceRoller.Models
@inject NavigationManager Navigation
@inherits RpgPageBase

<PageTitle>AI Agentic RPG</PageTitle>

<button class="image-container" title="Click to begin your extermin... your quest." @onclick="StartUp">
    <img src="AIAgentRPG-Home.jpeg" alt="AI Agentic RPG" />
</button>